.newdropscontainer{
    margin: 4vw;
}

.newdropsheadingbox{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.newdropsheadingcontainer{
    width: 60%;
}

.newdropsheading{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 700;
    
}

.newdorpsproductsbox{
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    width: max(140px,19vw);
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    margin: 6px 6px 6px 6px;
}
.newdorpsproductsbox::after{
    content: 'new';
    position: absolute;
    left: 10px;
    top:10px;
    border-radius: 20px 0px 20px 0px;
    background-color: rgba(74, 105, 226, 1);
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    font-weight: 600;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newdropsproductimage{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.newdorpsproductname{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.newdropsproductbutton{
    background-color: black;
    border-radius: 10px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newdropsproductpricetag{
    margin-left: 5px;
    color: rgba(255, 165, 47, 1);
    font-size: 14px;
}


.newdropsproductscontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.newdropsproductscontainer:hover > .newdropsproductmainbox:not(:hover){
    opacity: 0.2;
}


.newdropsbutton{
    width: 200px;
    background-color: rgba(74, 105, 226, 1);
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02rem;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.newdropsbutton:hover{
    transform: scale(1.1);
}




@media(max-width: 768px){
    .newdropsbutton{
        width: 150px;
        height: 45px;
        margin-bottom: 10px;
    }
    .newdorpsproductsbox::after{
        width: 40px;
        height: 30px;
    }
    .newdorpsproductname{
        font-size: 19px;
    }
}