.profile-heading{
  margin: 2rem 4rem;
}

.profile-heading > h1{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  min-height: 50vh;
  padding: 6rem;
  gap: 4rem;
  /* justify-content: space-evenly; */

}

.profileContainer h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profileContainer p{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}




.profile-button-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 2rem;
  /* border: 2px solid blue; */
}

.profile-button{
  background-color: #e91e63;
  color: white;
  padding: 1rem;
  width: 200px;
  text-align: center;
}


.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax;
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax;
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax;
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax;
    padding: 1vmax;
    margin: 2vmax 0;
  }
}